*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.5;
    background-color:#d1d8e0;
}
a{
    color: #21245a;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.spacing{
    margin-bottom: 50px;
}
.heading_txt{
    text-align: center;
    margin-bottom: 20px;
    color: #eb3b5a;
}
.menu_btn{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 4;
    display: none;

}
.btn{
    cursor: pointer;
    background: #21245a;
    color:#fff;
    padding: 10px 20px;
    display: inline-block;
    border: 0;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}
.btn:hover{
    opacity: .9;
}
.dark{
    color: #fff;
}
.dark .btn{
    background: rgb(255, 255, 255);
    color: #21245a;
}

/*----------NAV---------*/
.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}
.main_nav .logo{
    width: 110px;
    color: #616161;
}
.main_nav ul{
    display: flex;
}
.main_nav ul li{
    padding: 0 10px;
}
.main_nav ul li a:hover{
    border-bottom: 2px solid #21245a;
}
.main_nav ul.main_menu{
    margin-left: 20px;
}


/*SHOWCASE*/
.showcase{
    color: #fff;
    width: 100%;
    height: 400px;
    background: url('img/introbg2.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.showcase_text{
    /*background: #050607;
    opacity: 0.5;
    border-radius: 10px;*/
    color: #eb3b5a;
    padding: 10px;
}
.big_color{
    color: #eb3b5a; 
}
/*SKILLS*/
.myskills{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}
.myskills img{
    display: block;
    width: 80px;
    height: 80px; /*IMAGE wont ovweflow*/
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}
.myskills p{
    text-align: center;
}
/*HOME CARDS*/
.home_cards{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}
.home_cards img{
    width: 100%; /*IMAGE wont ovweflow*/
    margin-bottom: 20px;
    height: auto;
}
.home_cards h3{
    margin-bottom: 5px;
}
.home_cards a{
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}
.home_cards a:hover i{
    margin-left: 10px;
}
/*Carousel*/
.carousel-item{
    height: 500px;
}
/*XBOX*/
.xbox{
    color: white;
    height: 350px;
    width: 100%;
    background: url('img/txrep.jpg') no-repeat center center/cover;
    margin-bottom: 20px;
}
.xbox .content{
    width: 40%;
    padding: 50px 0 0 30px;
}
.xbox p, .banner p{
    margin: 10px 0 5px;
}
/*BANNER*/
.banner{
    width:100%;
    height: 350px;
    background: url('img/transformer_winding.jpg') no-repeat center center/cover;
    margin-bottom: 40px;
}
.banner .content{
    width: 55%;
    padding: 100px 0 0 30px;

}
/*FOLLOW*/
.follow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
}
.follow *{
    margin-right: 10px;
}
.follow img{
    border-radius: 50%;
    margin-top: 5px;
    width: 42.7px;
    height: 42px;
}
.links{
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.links_inner{
    max-width: 850px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.links li{
    line-height: 2.8;
}
/*FOOTER*/

.footer{
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}
.footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.footer div i{
    margin-right: 10px;
}
.footer_inner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.footer li{
    margin-right: 30px;
    margin-bottom: 20px;
}
/*TABLET VIEW*/
@media(max-width: 700px){
    .menu_btn{
        display: block;
    }
    .menu_btn{
        opacity: .5;
    }
    .main_nav ul.right_menu{
        margin-right: 40px;
    }
    .main_nav ul.main_menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
        transform: translateX(-500px);
        opacity: .7;
        border-right: #ccc 1px solid;
        padding: 30px;
    }
    .main_nav ul.main_menu.show{
        transform: translateX(-20px) ;
    }
    .main_nav ul.main_menu li{
        padding: 10px;
        border-bottom: #ccc solid 1px;
    }
    .home_cards{
        grid-template-columns: repeat(2,1fr);
    }
    .myskills{
        grid-template-columns:repeat(2,1fr);

    }
    .xbox .content p{
        display: block;
    }
    .xbox .content{
        width: 60%;
    }
    .banner .content{
        width: 85%;
    }
    .links .links_inner{
        grid-template-columns: repeat(3,1fr);
    }
}
/*MOBILE VIEW*/
@media(max-width :500px){
    .main_nav ul{
        display: none;
    }
    .myskills{
        grid-template-columns:1fr;
    }
    .home_cards{
        grid-template-columns:1fr;
    }
    .menu_btn{
        display: block;
    }
    .menu_btn:hover{
        opacity: 0.5;
    }
    .banner .content{
        width: 85%;
        padding: 50px 0 0 30px;
    
    }
    .links .links_inner{
        grid-template-columns:1fr;
    }
}